.page-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

.content-container {
  // background-color: #ccc;
  background: linear-gradient(90deg, #ccc, #aaa);
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  padding: 60px;
  overflow: hidden;
  height: 100%;
}

.content-container:focus {
  outline: none;
}

/// Helpers ///

// Sizes
.size-of-parent {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.w-100 {
  width: 100%;
}

// Flex
.flex-v-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-v-sb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

// Text
.font-title {
  font: 700 2rem "Segoe UI";
}

.font-medium {
  font: 400 1.5rem "Segoe UI";
}

.font-medium-small {
  font: 400 1rem "Segoe UI";
}

.font-small {
  font: 400 0.8rem "Segoe UI";
}

.ta-left {
  text-align: left;
}

.ta-center {
  text-align: center;
}

.ta-right {
  text-align: right;
}

