@import "variables";

// @font-face {
//   font-family: SegoeUI;
//   src: url("../media/fonts/segoeui.ttf");
//   font-weight: normal;
// }

// @font-face {
//   font-family: SegoeUI;
//   src: url("../media/fonts/segoeuib.ttf");
//   font-weight: bold;
// }

@font-face {
  font-family: Roboto;
  src:
    url('../media/fonts/roboto-v20-latin-regular.woff2') format('woff2'),
    url('../media/fonts/roboto-v20-latin-regular.woff') format('woff');
  font-weight: normal;
  font-display: fallback;
}

@font-face {
  font-family: Roboto;
  src:
    url('../media/fonts/roboto-v20-latin-700.woff2') format('woff2'),
    url('../media/fonts/roboto-v20-latin-700.woff') format('woff');
  font-weight: bold;
  font-display: fallback;
}

.page-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

.content-container {
  // background-color: #ccc;
  background: linear-gradient(90deg, #ccc, #999);
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 30px;
  padding: 60px;
  overflow: hidden;
  height: 100%;
}

.content-container:focus {
  outline: none;
}

.loading-container {
  background-color: #fff;
}

.loading-image {
  width: 200px;
  height: 200px;
  user-select: none;
  animation: loading-spin 6s linear infinite ;
}

@keyframes loading-spin {
  100% {
    transform: rotate(360deg);
  }
}

/// Helpers ///

// Sizes
.size-of-parent {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.stretch {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.w-100 {
  width: 100%;
}

// Flex
.flex-v-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.f-vs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.f-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-v-sb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

// Text
.font-title {
  font: bold 2rem Roboto;
}

.font-medium {
  font: normal 1.5rem Roboto;
}

.font-medium-small {
  font: normal 1rem Roboto;
}

.font-small {
  font: normal 0.8rem Roboto;
}

.ta-left {
  text-align: left;
}

.ta-center {
  text-align: center;
}

.ta-right {
  text-align: right;
}

/// Media Queries ///

@media (max-width: $tablet-size) {
  .page-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    // overflow-y: auto;
  }

  .content-container {
    flex-grow: 0;
    flex-shrink: 0;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 20px;
    // overflow-y: auto;
    height: auto;
  }
}

@media (max-width: 500px) {
  .content-container {
    flex-grow: 0;
    flex-shrink: 0;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding: 10px 0 0 0;
    // overflow-y: auto;
    height: auto;
  }
}
