@import "variables";

$separator-line-color: #ddd;

.card-container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 15px 30px rgba(206, 150, 150, 0.4);
  padding: 30px;
  
}

.card-title {
  font: 700 2rem "Segoe UI";
  width: 100%;
  color: $title-text-color;
}

.card-title-small {
  font: 700 1.7rem "Segoe UI";
  width: 100%;
  color: $title-text-color;
}

.separator-line {
  width: 100%;
  border-bottom: 1px solid $separator-line-color;
  margin-top: 4px;
  margin-bottom: 10px;
}

.stat-big {
  font: 700 1.2rem "Segoe UI";
  color: $stats-text-color;
}

.stat-small {
  font: 700 1rem "Segoe UI";
  color: $stats-text-color;
}