@import "variables";

$light-grey-color: #fafafa;

.info-stats-container {
  width: 100%;
  display: grid;
  grid-template-columns: 2.5fr 2fr 2fr 1fr;
  height: 70px;
  background-color: $light-grey-color;
  padding-top: 10px;
}

.charts-container {
  position: relative;
  width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  height: 300px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: $light-grey-color;
  // background-color: rgb(0, 217, 255);
  // overflow: hidden;
}

.chart-container {
  position: relative;
  width: 100%;
  height: 100%;
  // opacity: 0.3;
  // overflow: hidden;
  // background-color: aqua;
  // background-color: chartreuse;
}

// .chart-container:nth-child(2) {
//   background-color: rgb(255, 102, 0);
// }

#cases-chart,
#deaths-chart {
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;
  // background-color: blueviolet;
  // overflow: hidden;
}