.info-stats-container {
  width: 100%;
  display: grid;
  grid-template-columns: 2.5fr 2fr 2fr 0.5fr;
  height: 70px;
  // background-color: #0f0;
}

.charts-container {
  width: 100%;
  flex-grow: 1;
  display: grid;
  grid-template-rows: 1fr 1fr;
  // background-color: #eee;
}

.chart-container {
  width: 100%;
}