$map-size: 100%;
$map-blend-mode: normal;
$map-stroke-color: #fff;
$map-stroke-width: 0.5px;
$map-highlight-stroke-color: rgba(0, 0, 0, 1);
$map-highlight-stroke-width: 3px;

.map-wrapper {
  width: $map-size;
  // background-color: #f0f;
  flex-grow: 1;
  position: relative;
  margin-top: -10px;
}

.map-container {
  position: relative;
  width: 100%;
  // padding-top: 80.25132%;
  height: 100%;
  // padding-left: 124.608542%;
  overflow: hidden;
  background-color: #ddd;
}

.stroke-london {
  filter: drop-shadow(3px 0px 0px #000) drop-shadow(-3px 0px 0px #000)
    drop-shadow(0px 3px 0px #000) drop-shadow(0px -3px 0px #000);
}

.london-map {
  opacity: 1;
  mix-blend-mode: $map-blend-mode;
  pointer-events: fill;
  width: 100%;
  height: 100%;
}

.london-map:hover {
  cursor: pointer;
}

.london-map path {
  // stroke: rgba(0, 0, 0, 0.5);
  // stroke-width: 0.3px;
  stroke: $map-stroke-color;
  stroke-width: $map-stroke-width;
}

.area-highlight {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.area-highlight path {
  fill: none;
  stroke: $map-highlight-stroke-color;
  stroke-width: $map-highlight-stroke-width;
}