@import "variables";

$logo-size: 50%;

.sidebar-container {
  width: 280px;
  height: 100vh;
  background-color: #fff;
  flex-grow: 0;
}

.virus-icon {
  position: relative;
  width: $logo-size;
  padding-top: $logo-size;
  margin-top: 70px;
}

.virus-icon img {
  position: absolute; 
  object-fit: contain;
  opacity: 0.6;
}

.sidebar-text {
  width: 70%;
  color: $title-text-color;
}

.sidebar-title {
  font: 700 2.3rem "Segoe UI";
}