@import "variables";

$logo-size: 50%;

.sb-container {
  padding: 3rem 0 0 0;
  width: 14.4rem;
  height: 80%;
  flex-direction: column;
  color: $title-text-color;
  flex-shrink: 0;
}

.sb-logo {
  position: relative;
  width: 9em;
}

.sb-logo img {
  position: absolute; 
  object-fit: contain;
  opacity: 0.8;
}

.sb-title {
  text-align: center;
  font: 700 2.3rem "Segoe UI";
  width: 10rem;
  margin-top: 2rem;
}

.sb-details {
  text-align: center;
  font: 400 1rem "Segoe UI";
  width: 10rem;
  margin-top: 2.5rem;
}

@media (max-width: $tablet-size) {  

  .sb-container {
    border-bottom: 1px solid #ccc;
    padding: 0 1.25rem 0 1.25rem;
    width: 100%;
    height: 8.75rem;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .sb-logo {
    width: 6rem;
  }

  .sb-title {
    font: 700 1.5rem "Segoe UI";
    text-align: right;
    width: 15rem; 
    margin-top: 0;
  }

  .sb-details {
    display: none;
  }
}